<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>RPBroadcastHostBundleIdentifier</key>
			<string>com.beverg.picsewai.extension</string>
			<key>RPBroadcastProcessMode</key>
			<string>RPBroadcastProcessModeSampleBuffer</string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.broadcast-services-setupui</string>
	</dict>
</dict>
</plist>
